body {
  font-family: Arial, Helvetica, sans-serif;
  }
  


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  background-color: black;
  color: #f1f1f1;
  width: 100%;
  padding: 2px 60px 20px 60px;
  position: inherit;
}

.content h1 {
    font-size: 39px;
    font-weight: 599;
    color: white;
    padding: 2px 0px 95px 70px
}
.content h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #008099;
    letter-spacing: 2px;
    display: block;
    padding-bottom: 20px
}

.content h3 {
    font-size: 45px
}
.content h4 {
    font-size: 19px;
    font-weight: normal;
    color: #999ea5;
    margin-bottom: 140px;
    
}
.row h5 {
    text-transform: uppercase;
    font-size: 14px;
    color: #008099;
    font-weight: 500;
    letter-spacing: 2px;
    display: block;
}
.row h6  {
    font-size: 44px;
}
.row ul {
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    color: #6aecce;
    margin-bottom: 15px;
}
.row h1 {
   font-size: 18px; 
}
.myBtn {
  font-size: 15px;
  padding: 15px 50px 15px 50px ;
  border: 2px solid #008099;
  border-radius: 50px;
  background: #008099;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  touch-action: manipulation;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  
}
  
#myBtn:hover {
  background: rgb(221, 221, 221);
  color: black;
}
.footer h1 {
    text-align: center;
    font-weight: 10;
    font-size: 30px;
    padding: 200px 0px 20px 0px;
    
}

.footer div {
    text-align: center;
    padding: 20px
}

.fa {
  padding: 18px;
  font-size: 40px;
    border-radius: 50%;
  width: 50px;
  text-decoration: none;
  margin: 2px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #fff;
  color: black;
}

.fa-flickr {
  background: #fff;
  color: black;
}